{% extends 'base.html.twig' %}

{% block title %}Page erreur 404{% endblock %}

{% block stylesheets %}

    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/page_404.css') }}">
{% endblock %}

{% block header %}
    <!-- PASSED W3C VALIDATOR https://validator.w3.org/ -->
    <!-- Zero intern console warning -->

    <!-- Navbar in views/base.html.twig -->
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12 text-center align">
                <img class="logo-galibelum" src="{{ asset('build/images/galibelum_page404.png') }}" alt="Logo Galibelum">
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
