
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/page_404.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h1 class="first">  4 </h1>
            </div>
            <div class="col-md-4">
                <img class="logo-galibelum" src="{{ asset('build/images/logo_galibelum.png') }}" alt="placeholder">
            </div>
            <div class="col-md-3">
                <h1 class="second">  4 </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center tree"> Ooops la page n'existe pas.</h5>
            </div>
        </div>
    </div>
    {% block footer %}
    {% endblock %}

{% endblock %}