{% extends 'base.html.twig' %}


{% block stylesheets %}
    <!-- Additional CSS links-->
    <link rel="stylesheet" href="{{ asset('build/inscription.css') }}">
{% endblock %}

{% block body %}
    <main class="page-wrapper loading-done backgroundimg">
        <article id="post-4665" class="post-4665 page type-page status-publish hentry">
            <h1 class="hidden"> Galibelum Structures/Sponsors </h1>
            <section id="#inscriptionstructureesport" class="fw-section layout-full-equal without-overlay without-parallax vc_custom_1521657524772" data-offset-top="180">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="boxing-canvas">
                                <p class="center grey space size" >
                                <span>
                                    <strong><span class="text-uppercase ">VOUS REPRÉSENTEZ UNE</span></strong>
                                </span>
                                </p>
                                <div class="si-cta-inner">
                                    <h3 class="center">
                                        <strong><span class="degradeblue">STRUCTURE ESPORT</span></strong>
                                    </h3>
                                    <br>
                                    <p class="center">
                                        <span>TROUVER LES MEILLEURS PARTENAIRES FINANCIERS</span>
                                    </p>
                                    <br>
                                    <p class="center">
                                        <span>
                                            <strong>Créer le profil de votre structure</strong>
                                        </span>
                                        et lancer une campagne de financement avec
                                        des critères spécifiques correspondant à vos choix de partenaires financiers.
                                    </p>
                                    <p class="center">
                                        <span>
                                            <strong>Accéder à des centaines de marques, institutions et particuliers</strong>
                                        </span> qui veulent investir dans l’eSport.
                                    </p>
                                </div>
                                <br>
                                <div class="text-block vc_custom_1521651694627">
                                    <p class="center">
                                        <strong>
                                            <span class ="degradeblue">3 ÉTAPES POUR TROUVER DES INVESTISSEURS</span>
                                        </strong>
                                    </p>
                                    <p class="center">
                                        <strong>1 – Créer le profil</strong> <span class="grey">de votre structure pour gagner en visibilité</span>
                                    </p>
                                    <p class="center">
                                        <strong>2 – Lancer</strong><span class="grey"> un appel au financement</span>
                                    </p>
                                    <p class="center">
                                        <strong>3 – Contractualiser</strong> <span class="grey">facilement avec vos nouveaux partenaires financiers</span>
                                    </p>
                                    <br>
                                    <div class="center">
                                        <a class="backblue btn btn-custom " href="{{ path('organization_new', {'choose': 0}) }}" title="inscription responsable de structure" >CRÉER VOTRE PROFIL</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">

                            <div class="boxing-canvas">
                                <p class="center grey space size ">
                                <span>
                                    <strong><span class="text-uppercase ">VOUS REPRÉSENTEZ UNE</span></strong>
                                </span>
                                </p>
                                <div class="si-cta-inner">
                                    <h3 class="center">
                                        <strong><span class="degradered">MARQUES</span></strong>
                                    </h3>
                                    <br>
                                    <p class="center">
                                        <span>INVESTIR DANS LES MEILLEURES STRUCTURES eSPORT</span>
                                    </p>
                                    <br>
                                    <p class="center">
                                        <span>
                                            <strong>Découvrir des milliers de structures eSport vérifiées</strong>
                                        </span>à la recherche de partenaires financiers / sponsors.
                                    </p>
                                    <br>
                                    <br class="space">
                                    <p class="center">
                                        <span>
                                            <strong>Lancer le processus d’investissement</strong>
                                        </span> et maximiser vos retours sur investissement grâce au module de reporting.
                                    </p>
                                </div>
                                <div class="text-block vc_custom_1521651720933">
                                    <br>
                                    <p class="center">
                                        <strong>
                                            <span class="degradered">3 ÉTAPES POUR INVESTIR / SPONSORISER SEREINEMENT</span>
                                        </strong>
                                    </p>
                                    <p class="center">
                                        <strong>1 – Créer votre profil</strong>
                                        <span class="grey">et définir vos objectifs d’investissement</span>
                                    </p>
                                    <p class="center">
                                        <strong>2 – Trouver</strong>
                                        <span class="grey">les structures les plus cohérentes pour votre marque</span></p>
                                    <p class="center">
                                        <strong>3 – Contractualiser &amp; suivre l’évolution de vos contrats
                                            <span class="grey"></span>
                                        </strong>
                                    </p>
                                    <br>
                                    <div class="center">
                                        <a class="backred btn btn-custom place" href="{{ path('organization_new', {'choose': 1}) }}" title="Inscription de responsable de marques ou institutions" >CRÉER VOTRE PROFIL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}


{% block javascripts %}
{% endblock %}


