{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/waiting.css') }}">
{% endblock %}

{% block body %}
    <section class="waiting text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Page title -->
                    <div class="galibelum_waiting_inscription_picture">
                        <h2 class="text-center degradeblue">Inscription en cours de validation</h2>
                        <div class="separator"></div>
                    </div>

                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <!-- Waiting text part -->
                        <div class="waiting_text_background">
                            <img src="{{ asset('build/images/waiting-page-logo.png') }}"
                                 alt="Inscription en cours de validation"><br><br>
                            <p>Vous recevrez une notification par email dès que votre
                                compte aura été validé par l'un de nos managers, dans un
                                délai maximum de 48h.</p>
                            <div class="separator3"></div>
                            <!-- End waiting text part -->

                            <!-- Contact Galibelum part -->
                            <div class="col-sm-6 col-sm-offset-6">
                                <p>William Brassier (CEO)</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="light-subtitle-text">Contacter Galibelum</p>
                            </div>
                            <div class="col-sm-6">
                                <p>06 XX XX XX XX</p>
                                <p>contact@galibelum.fr</p><br>
                            </div>
                            <!-- End contact Galibelum part -->

                            <!-- Back home button -->
                            <div class="col-sm-12 col-xs-12 text-center">
                                <br>
                                <input type="submit" class="btn btn-primary backblue-btn"
                                       value="{{ "Retour à l'accueil"|trans }}"/>
                            </div>
                            <!-- End back home button -->
                        </div>
                    </div>

                    <!-- Computer image -->
                    <div class="col-md-6 col-sm-10 col-xs-10">
                        <img class="galibelum_waiting_inscription_picture hidden-sm hidden-xs"
                             src="{{ asset('build/images/waiting-page.jpg') }}"
                             alt="Inscription en attente de validation par Galibelum.">
                    </div>
                    <!-- End computer image -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}