{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/waiting.css') }}">
{% endblock %}


{% block body %}
    <!-- Waiting Section -->
    <section id="study" class="study text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
        <div class="container">
            <div class="row">
                <div class="galibelum_waiting_inscription_picture">
                    <!-- Page title -->
                    <div class="galibelum">
                        <h2>Inscription en cours de validation</h2>
                        <div class="separator"></div>
                    </div>

                    <!-- Text center of the screen -->
                    <div class="col-sm-6">
                        <div class="waiting_text_background">
                            <div class="waiting_slider">
                                <div class="item">
                                    <img src="{{ asset('build/images/waiting-page.png') }}"
                                         alt="Inscription en cours de validation"><br><br>
                                    <p>Vous recevrez une notification par email dès que votre
                                        compte aura été validé par l'un de nos managers, dans un
                                        délai maximum de 48h.</p>
                                    <div class="separator3"></div>
                                    <p class="contact_galibelum">Contacter Galibelum :</p><br>
                                    <p>William Brassier (CEO)</p>
                                    <p>Tel : 06 XX XX XX XX</p>
                                    <p>Mail : contact@galibelum.fr</p><br>
                                    <a class="backblue btn-custom waiting"
                                       href="{{ path('inscription_index') }}">Retour à l'accueil</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Computer image -->
                    <div class="single_study_right_img">
                        <div class="col-sm-6">
                            <div class="single_study_img">
                                <img src="{{ asset('build/images/waiting-page.jpg') }}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section><!-- End waiting section -->

{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}