
{% extends 'base.html.twig' %}

{% block title %}Validation de votre structure|marque{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/waiting.css') }}">

{% endblock %}

{% block body %}
    <main id="{% if is_granted('ROLE_COMPANY') %}company{% else %}structure{% endif %}">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb breadcrumb-boxing-canvas">
                            <li>Choix de création</li>
                            <li>Création de la marque</li>
                            <li>En attente de validation</li>
                        </ol>
                        <div class="boxing-canvas">
                            <div class="row">
                                <!-- Title -->
                                <div class="col-md-12 waiting_title">
                                    <h2 class="text-center degradeblue">Inscription en cours de validation</h2>
                                </div>
                                <!-- End title -->

                                <div class="col-md-12 text-center">
                                    <!-- Waiting text part -->
                                    <div class="col-md-12">
                                        <img src="{{ asset('build/images/waiting-page-logo.png') }}"
                                             alt="Inscription en cours de validation"><br><br>
                                    </div>
                                    <div class="col-md-12">
                                        <p>Vous recevrez une notification par email dès que votre
                                            compte aura été validé par l'un de nos managers,<br> dans un
                                            délai maximum de 48h.</p>
                                        <div class="separator"></div>
                                    </div>
                                    <!-- End waiting text part -->

                                    <!-- Contact Galibelum part -->
                                    <div class="col-md-12">
                                        <p class="light-blue-subtitle-text">Contacter Galibelum</p>
                                    </div>
                                    <div class=" col-md-12">
                                        <p>03 74 09 50 88</p>
                                        <p>hello@galibelum.fr</p><br>
                                    </div>
                                    <!-- End contact Galibelum part -->

                                    <!-- Back home button -->
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary backblue-btn-sm" href="/">
                                            Retour à l'accueil</a>
                                    </div>
                                    <!-- End back home button -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}

