//
// Form Controls (input, select, radio, checkbox, etc.)
// -----------------------------------------------------

// Font Family
textarea,
select,
input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']),
label, .nf-field-label > label,
.wpcf7-not-valid-tip,
.nf-error-required-error,
.nf-field-description,
.wpcf7-list-item-label,
.checkbox-radio-label,
.wpcf7-response-output {
  font-family: $font-family-navs;
}

// Base Class
textarea,
select,
input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) {
  display: block;
  width: 100%;
  height: $input-height;
  margin-bottom: $grid-vertical-step !important;
  padding: 0 18px;
  transform: translate3d(0, 0, 0);
  transition: all .35s;
  border: 1px solid $border-color;
  border-radius: ceil($input-height / 2);
  background-color: $gray-lighter;
  color: $form-text-color;
  font-size: $font-size-base;
  @include appearance(none);

  // Placeholder
  @include placeholder;

  // Focus state
  &:focus {
    border-color: transparent;
    outline: 0;
    background-color: $white-color;
    box-shadow: 0 10px 25px 0 rgba($black-color, .1);
  }

  // Rounded Input
  &.input-rounded { border-radius: $border-radius-default; }

  // Input Sizes
  &.input-lg {
    height: $input-lg-height;
    border-radius: ceil($input-lg-height / 2);
  }
  &.input-sm {
    height: $input-sm-height;
    border-radius: ceil($input-sm-height / 2);
  }
  &.input-lg, &.input-sm {
    &.input-rounded { border-radius: $border-radius-default; }
  }
}
textarea {
  max-width: 100%;
  height: auto;
  padding: {
    top: 15px;
    bottom: 15px;
  }
}
input[type='file'] { margin-bottom: $grid-vertical-step; }
input[type='number'] {
  background-color: transparent !important;
  &:focus {
    border-color: $border-color !important;
    box-shadow: none !important;
  }
}

// Labels
.nf-field-label { margin-bottom: 0 !important; }
label,
.nf-field-label > label {
  display: block;
  margin-bottom: 8px !important;
  padding-left: 18px !important;
  color: $form-label-color;
  font: {
    size: $font-size-sm;
    weight: normal !important;
  }
  text-transform: uppercase;
  & + br { display: none; }
}
label {
  textarea,
  select,
  input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) { margin-top: 8px; }
  > input, > select,
  > textarea {
    margin-left: -18px;
  }
}

// Select
select::-ms-expand { display: none; }
.form-select {
  position: relative;
  margin-bottom: $grid-vertical-step;
  &::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -7px;
    font: {
      family: silicon-icons;
      size: 18px;
    }
    line-height: 1;
    content: '\e900';
    z-index: 1;
  }
  select {
    position: relative;
    margin-bottom: 0 !important;
    padding-right: 30px;
    background-color: transparent;
    z-index: 2;
  }
}
select[multiple] {
  width: 100%;
  height: $input-multiple-height !important;
}

// Contact Form 7 Overrides
.wpcf7-form {
  br { display: none; }
  p { margin: 0; }
  .btn,
  input[type='submit'],
  input[type='button'] { margin: 0; }
}
button[type='submit']:focus,
input[type='submit']:focus,
input[type='button']:focus,
input[type='file']:focus { outline: none; }
.wpcf7-list-item-label,
.checkbox-radio-label {
  color: $gray-dark;
  font-size: $font-size-base;
  text-transform: none;
}
.wpcf7-list-item > label,
.checkbox-radio-label { padding-left: 0 !important; }
.wpcf7-list-item {
  margin: {
    right: 12px !important;
    bottom: 8px !important;
    left: 0 !important;
  }
}

// Ninja Forms Overrides
.nf-field-container {
  margin-bottom: 0 !important;
}
.nf-before-form-content {
  margin-bottom: floor($grid-vertical-step / 1.5); //~16px
  color: $gray;
}
.nf-field-description {
  margin-bottom: 10px;
  padding-left: 18px;
  color: $gray;
}

// Input Groups (with icons)
.input-group {
  position: relative;
  margin-bottom: $grid-vertical-step;
  select,
  input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) {
    margin-bottom: 0 !important;
    padding-left: 40px;
  }
  i {
    display: block;
    position: absolute;
    top: floor($input-height / 3);
    left: 18px;
    color: $form-icon-color;
    font-size: 1.25em;
    z-index: 5;
  }
  .wpcf7-not-valid-tip,
  .nf-error-required-error { margin-top: 2px; }
}

// Light Skin
.input-light {
  label {
    color: rgba($white-color, .25) !important;
  }
  textarea,
  select,
  input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) {
    border-color: $border-light-color !important;
    background-color: transparent !important;
    color: $white-color !important;
    @include placeholder(rgba($white-color, .5));
    &:focus:not(select) {
      border-color: transparent !important;
      background-color: $border-light-color !important;
    }
  }
  .wpcf7-list-item-label,
  .checkbox-radio-label, i {
    color: rgba($white-color, .5) !important;
  }
}

// Form Validation
.wpcf7-not-valid-tip,
.nf-error-required-error {
  margin: {
    top: -($grid-vertical-step);
    bottom: $grid-vertical-step;
  }
  padding: {
    top: 10px;
    left: 18px;
  }
  color: $brand-danger !important;
  font-size: $font-size-base !important;
  text-transform: none !important;
}
.nf-error-required-error { padding-top: 5px; }
.wpcf7-not-valid,
.nf-error textarea,
.nf-error input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) {
  border-color: $brand-danger !important;
  &:focus {
    border-color: transparent !important;
  }
}
.wpcf7-response-output {
  position: relative;
  padding: $grid-vertical-step !important;
  padding-left: 46px !important;
  border: 1px solid transparent !important;
  border-radius: $border-radius-default;
  &::before {
    display: block;
    position: absolute;
    left: 18px;
    font: {
      family: silicon-icons;
      size: 1.6em;
    }
    @include center(y);
  }
  &.wpcf7-validation-errors {
    border-color: $brand-danger !important;
    background-color: rgba($brand-danger, .15);
    color: $brand-danger;
    animation: appear 1s;
    &::before { content: '\e91f'; }
  }
  &.wpcf7-mail-sent-ok {
    border-color: $brand-success !important;
    background-color: rgba($brand-success, .15);
    color: darken($brand-success, 5%);
    animation: appear 1s;
    &::before { content: '\e913'; }
  }
  &.wpcf7-mail-sent-ng {
    border-color: $brand-warning !important;
    background-color: rgba($brand-warning, .15);
    color: $brand-warning;
    animation: appear 1s;
    &::before { content: '\e91f'; }
  }
}
@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Search Box
.search-box {
  position: relative;
  input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) {
    margin-bottom: 0 !important;
    padding-left: 40px;
  }
  button[type='submit'] {
    display: block;
    position: absolute;
    left: 10px;
    margin-top: 3px;
    transition: color .3s;
    border: 0;
    background: none;
    color: $form-icon-color;
    @include center(y);
    &:hover { color: $gray-dark; }
    > i { font-size: 1.5em; }
  }
}

// Post Password Form
.post-password-form {
  p { position: relative; }
  label { margin-bottom: 0 !important; }
  label input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) {
    width: calc(100% - 90px);
    margin-bottom: 0 !important;
    padding-right: 100px;
  }
  input[type='submit'] {
    @extend .btn-solid, .btn-pill, .btn-primary;
    position: absolute;
    top: 27px;
    right: 0;
    margin: 0;
  }
}