//
// Pagination
// --------------------------------------------------

// Pagination
.pagination {
  margin-top: floor($grid-vertical-step * 2); //~48px
  padding: floor($grid-vertical-step / 3) $grid-vertical-step;
  background-color: $white-color;
  .pagination-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-items: center;
    .prev-button .btn,
    .next-button .btn {
      margin: {
        right: 0;
        left: 0;
      }
    }
  }
  .nav-links { margin: auto; }
  .nav-links .page-numbers {
    display: inline-block;
    width: $btn-sm-height;
    height: $btn-sm-height;
    margin: floor($btn-margin / 1.5) 2px;
    transition: box-shadow .3s;
    border-radius: 50%;
    background-color: $white-color;
    color: $navi-link-color;
    font-weight: bold;
    line-height: $btn-sm-height;
    text-decoration: none;
    &:hover:not(.current):not(.dots) {
      box-shadow: 0 14px 25px -7px rgba($black-color, .25);
    }
    &.current {
      background-color: $navi-link-active-color;
      color: $white-color;
      cursor: default;
    }
  }
  &.pagination-infinite {
    padding: {
      top: 0;
      bottom: 0;
    }
    border: 0 !important;
  }

  &.loading {
    .btn-link > .si-load-more::before {
      display: inline-block;
      -webkit-animation: load-spin 1s infinite;
      animation: load-spin 1s infinite;
      
      @-webkit-keyframes load-spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(-360deg); }
      }
    }
  }
}
.masonry-grid + .pagination {
  margin-top: (floor($grid-vertical-step * 2) - 30); //~18px
}

// Loader
.pagination-infinite {
  .spinner-wrap {
    display: none;
    width: 48px;
    height: 48px;
    margin: auto;
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
  }
  &.loading .spinner-wrap { display: inline-block; }
  .spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    border-color: inherit;
    overflow: hidden;
  }
  .circle-clipper.left { float: left; }
  .circle-clipper.right { float: right; }
  .circle-clipper .circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: inherit;
    border-bottom-color: transparent !important;
  }
  .circle-clipper.left .circle {
    left: 0;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
    border-right-color: transparent !important;
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  .circle-clipper.right .circle {
    left: -100%;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
    border-left-color: transparent !important;
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  .gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    border-color: inherit;
    overflow: hidden;
  }
  .gap-patch .circle {
    left: -450%;
    width: 1000%;
    border-radius: 50%;
  }
  @-webkit-keyframes container-rotate {
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes container-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes fill-unfill-rotate {
    12.5% { -webkit-transform: rotate(135deg); }
    25% { -webkit-transform: rotate(270deg); }
    37.5% { -webkit-transform: rotate(405deg); }
    50% { -webkit-transform: rotate(540deg); }
    62.5% { -webkit-transform: rotate(675deg); }
    75% { -webkit-transform: rotate(810deg); }
    87.5% { -webkit-transform: rotate(945deg); }
    100% { -webkit-transform: rotate(1080deg); }
  }
  @keyframes fill-unfill-rotate {
    12.5% {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    25% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
    37.5% {
      -webkit-transform: rotate(405deg);
      transform: rotate(405deg);
    }
    50% {
      -webkit-transform: rotate(540deg);
      transform: rotate(540deg);
    }
    62.5% {
      -webkit-transform: rotate(675deg);
      transform: rotate(675deg);
    }
    75% {
      -webkit-transform: rotate(810deg);
      transform: rotate(810deg);
    }
    87.5% {
      -webkit-transform: rotate(945deg);
      transform: rotate(945deg);
    }
    100% {
      -webkit-transform: rotate(1080deg);
      transform: rotate(1080deg);
    }
  }
  @-webkit-keyframes left-spin {
    0% { -webkit-transform: rotate(130deg); }
    50% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(130deg); }
  }
  @keyframes left-spin {
    0% {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }
    50% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
    100% {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }
  }
  @-webkit-keyframes right-spin {
    0% { -webkit-transform: rotate(-130deg); }
    50% { -webkit-transform: rotate(5deg); }
    100% { -webkit-transform: rotate(-130deg); }
  }
  @keyframes right-spin {
    0% {
      -webkit-transform: rotate(-130deg);
      transform: rotate(-130deg);
    }
    50% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    100% {
      -webkit-transform: rotate(-130deg);
      transform: rotate(-130deg);
    }
  }
}

// Single Post Navigation
.post-navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-items: center;
  text-align: center;
  .post-nav-prev,
  .post-nav-all,
  .post-nav-next {
    position: relative;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
    border-width: 0;
    padding: 8px 0;
    .btn {
      margin: {
        right: 0;
        left: 0;
      }
    }
  }
  .post-nav-prev + .post-nav-next {
    border-left-width: 1px;
  }
  .post-nav-prev + .post-nav-all {
    border-left-width: 1px;
  }
  .post-nav-all + .post-nav-next {
    border-left-width: 1px;
  }
  .post-nav-all {
    .btn > i.si-list {
      margin-top: -2px;
      font-size: 1.5em;
    }
  }
  .popover {
    bottom: 90%;
    left: 50%;
    margin-left: -112px;
    padding: floor($grid-vertical-step / 2); //~12px
    transform: translateY(10px);
    > .post-item {
      -ms-flex-line-pack: center;
      margin-bottom: 0;
      text-align: left;
      align-items: center;
      .post-title {
        color: $white-color !important;
        font: {
          size: $font-size-sm;
          weight: bold;
        }
      }
    }
    &.is-visible {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
  @media #{$tablet-port} {
    .popover { display: none; }
    .post-nav-prev,
    .post-nav-all,
    .post-nav-next {
      .btn > i { font-size: 2em; }
    }
    .post-nav-all {
      .btn > i.si-list { font-size: 1.9em; }
    }
  }
}
