//
// Tooltips & Popovers
// --------------------------------------------------

// Tooltip
.tooltip {
  display: block;
  position: absolute;
  transition: transform .25s, opacity .25s;
  font: {
    family: $font-family-headings;
    size: $font-size-sm;
  }
  letter-spacing: .09em;
  white-space: nowrap;
  opacity: 0;
  z-index: 1070;

  &.top {
    margin-top: -2px;
    transform: translateY(5px);
  }
  &.right  {
    margin-left: 2px;
    transform: translateX(-5px);
  }
  &.bottom {
    margin-top: 2px;
    transform: translateY(-5px);
  }
  &.left {
    margin-left: -2px;
    transform: translateX(5px);
  }

  &.in {
    transform: translateY(0);
    opacity: 1;
  }

  // Wrapper for the tooltip content
  .tooltip-inner {
    max-width: 200px;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: $gray-darker;
    color: $white-color;
    text-align: center;
  }
}

// Popover
.popover {
  position: absolute;
  width: 225px;
  padding: {
    top: $grid-vertical-step;
    bottom: floor($grid-vertical-step / 3); //~8px
  }
  transform: translateY(15px);
  transition: all .3s;
  border-radius: $border-radius-default;
  background-color: $gray-darker;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
