//
// Widgets
// --------------------------------------------------

// Sidebar (Widgetized Area)
.sidebar,
.wpb_widgetised_column { width: 100%; }

// Base Class
.widget {
  margin-bottom: floor($grid-vertical-step * 2); // ~48px

  // Lists inside widget
  ul, dd, dt {
    margin: 0;
    font-family: $font-family-navs;
    list-style: none;
  }
  div > ul,
  > ul {
    padding: 0;
    > li {
      padding: 10px 0;
      &:first-child { padding-top: 0; }
      &:last-child { padding-bottom: 0; }
      a {
        transition: color .3s;
        color: $navi-link-color;
        text-decoration: none;
        &:hover { color: $navi-link-hover-color; }
      }
      &.current-menu-item > a,
      &.current-menu-ancestor > a { color: $navi-link-active-color; }
    }
  }
  // Select inside widget
  .form-select,
  select { margin-bottom: 0; }
}

// Widget Title
.widget-title,
.widgettitle {
  margin-bottom: $grid-vertical-step; //~24px
  padding-bottom: floor($grid-vertical-step / 3); // ~8px
  border-bottom: 1px solid $border-color;
  color: $widget-title-color;
  font: {
    size: $font-size-widget;
    style: $font-style-widget;
    weight: $font-weight-widget;
  }
  letter-spacing: .1em;
  text-transform: $text-transform-widget;
}

// Widget Categories,
// Archives,
// Recent Entries (Default),
// Recent Comments,
// Custom Menu,
// Pages
.widget_meta,
.widget_pages,
.widget_archive,
.widget_categories,
.si-bp-sidebar-item,
.widget_nav_menu div,
.widget_display_views,
.widget_display_topics,
.widget_recent_entries,
.widget_display_forums,
.widget_display_replies,
.widget_recent_comments,
.widget_product_categories,
.woocommerce-MyAccount-navigation,
#bbp-user-navigation {
  > ul {
    > li {
      border-bottom: 1px dashed $border-color;
      color: $gray;
      &:last-child { border: 0; }
    }
  }
}

// Widget Recent Posts
.widget_recent_entries .post-date {
  display: block;
  font-size: $font-size-sm;
}

// Widget Recent Comments
.widget_recent_comments {
  font-size: $font-size-sm;
  .comment-author-link > a {
    color: $gray;
    font: {
      size: $font-size-sm;
      weight: bold;
    }
  }
  ul { line-height: $line-height-base; }
  ul > li {
    position: relative;
    padding-left: 18px;
    &::before {
      position: absolute;
      top: 11px;
      left: 0;
      color: $gray;
      font-family: silicon-icons;
      content: '\e917';
    }
    > a {
      display: block !important;
      font-size: $font-size-base;
    }
    &:first-child::before { top: 1px; }
  }
}

// Widget Tag Cloud
.widget_tag_cloud,
.widget_product_tag_cloud,
.bbp-page-title-tags,
.tags-links {
  a {
    display: inline-block;
    height: $btn-xs-height; // ~21px
    margin: 4px 5px 4px 0;
    padding: 0 floor($grid-vertical-step / 2); // 0 12px
    transition: all .3s;
    border-radius: ceil($btn-xs-height / 2); // ~11px
    background-color: $gray-lighter;
    color: $navi-link-color;
    font: {
      family: $font-family-navs;
      size: $font-size-sm !important;
      weight: normal;
    }
    line-height: $btn-xs-height;
    text-decoration: none;
    &:hover {
      background-color: $brand-primary;
      color: $white-color;
      box-shadow: 0 4px 7px 0 rgba($black-color, .25);
    }
  }
}

// Calendar Widget
.widget_calendar {
  border-bottom: 0;
  font-family: $font-family-navs;
  caption {
    padding: {
      top: 0;
      right: 0;
      bottom: floor($grid-vertical-step /2); // ~12px
      left: 0;
    }
    font-weight: bold;
  }
  table>thead>tr>th, table>thead>tr>td, table>tbody>tr>th, table>tbody>tr>td, table>tfoot>tr>th, table>tfoot>tr>td {
    padding: 10px;
    border: 1px solid $border-color;
    background-color: lighten($gray-lighter, 2%);
    text-align: center;
  }
  a {
    transition: color .3s;
    color: $navi-link-color;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $navi-link-hover-color;
    }
  }
}

// Text Widget
.widget_text {
  img {
    margin: {
      top: floor($grid-vertical-step / 2);
      bottom: floor($grid-vertical-step / 2);
    }
  }
  .wp-caption {
    margin-bottom: floor($grid-vertical-step / 2);
    img { margin: 0; }
    .wp-caption-text {
      padding-bottom: floor($grid-vertical-step / 1.5); //~16px
    }
  }
  p:last-child { margin-bottom: 0; }
}

// RSS Widget
.widget_rss {
  .widget-title > a {
    display: inline-block;
    transition: color .3s;
    color: $navi-link-color;
    font-weight: $font-weight-widget;
    text-decoration: none;
    vertical-align: middle;
    &:hover { color: $navi-link-hover-color; }
  }
  > ul > li {
    border-bottom: 1px dashed $border-color;
    &:last-child { border: 0; }
    > a { font-weight: bold; }
    .rss-date,
    cite {
      color: $gray;
      font-style: normal;
    }
  }
}

// Button Widget
.widget_silicon_button {
  > .btn { margin: 0; }
  > span {
    display: block;
    margin-top: 10px;
  }
  > p { margin-bottom: 0; }
}

// Socials Widget
.widget_silicon_socials {
  margin-bottom: floor($grid-vertical-step * 1.6); // ~38px
}

// Subscription Widget
.widget_silicon_subscribe {
  .input-group {
    margin-bottom: 0 !important;
    button[type='submit'] {
      position: absolute;
      right: 9px;
      padding: 6px;
      transition: color .3s;
      border: 0;
      background: none;
      color: $gray;
      @include center(y);
      &:hover { color: $gray-dark; }
      > i {
        position: static;
        color: inherit;
        font-size: 1.4em;
      }
    }
    input[type]:not([type='submit']):not([type='button']):not([type='hidden']):not([type='checkbox']):not([type='radio']):not([type='file']) {
      padding: {
        right: 40px;
        left: 18px;
      }
    }
  }
  p { margin-bottom: 0; }
  .subscribe-form > p { margin-top: 10px; }
}

// Map Widget
.widget_silicon_map .google-maps {
  border-radius: $border-radius-default;
}

// Author Widget
.silicon-author {
  position: relative;
  width: 100%;
  padding-top: 72px;
  border-radius: $border-radius-default;
  background-color: $white-color;
  overflow: hidden;
  .silicon-author-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: {
      position: center;
      color: $gray-lighter;
      repeat: no-repeat;
      size: cover;
    }
    z-index: 1;
  }
  .silicon-author-info {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-line-pack: center;
    padding: {
      right: 19px;
      left: 19px;
    }
    z-index: 2;
    align-items: center;
    .silicon-author-avatar {
      -ms-flex: 0 0 96px;
      flex: 0 0 96px;
      width: 96px;
      height: 96px;
      margin-right: 8px;
      border-radius: 50%;
      overflow: hidden;
      > img {
        width: 100%;
        border: 5px solid $white-color;
        border-radius: 50%;
      }
    }
    .silicon-author-about { padding-top: 18px; }
    .silicon-author-name {
      font-weight: bold;
      text-decoration: none;
    }
    .silicon-author-position {
      display: block;
      color: $gray;
      font-size: $font-size-sm;
    }
  }
  .silicon-author-footer {
    padding: {
      top: 10px;
      right: $grid-vertical-step;
      left: $grid-vertical-step;
    }
  }
}

// Contacts Widget
.widget_silicon_contacts {
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      position: relative;
      padding: 10px 0;
      border-bottom: 1px dashed $border-color;
      > i {
        display: block;
        position: absolute;
        top: 14px;
        width: $btn-sm-height;
        height: $btn-sm-height;
        border-radius: 50%;
        color: $white-color;
        font-size: 24px;
        line-height: $btn-sm-height;
        text-align: center;
        box-shadow: 0 5px 9px 0 rgba($black-color, .2);
        &.background-white { color: $gray-dark; }
      }
      > span, > a {
        display: block;
        padding-left: ($btn-sm-height + 20);
      }
      .contact-label {
        color: $gray;
        font: {
          size: $font-size-sm;
          weight: bold;
        }
        text-transform: uppercase;
      }
      &:first-child {
        padding-top: 0;
        > i { top: 4px; }
      }
      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}

// Gallery Widget
.widget_silicon_gallery .masonry-grid {
  .si-gallery-item::after {
    margin-top: -15px;
    font-size: 30px;
  }
  .gutter-sizer { width: 8px; }
  .grid-item { margin-bottom: 8px; }
  &.col-2 {
    .gutter-sizer { width: 8px; }
    .grid-sizer,
    .grid-item { width: calc((100% / 2) - 4px); }
  }
  &.col-3 {
    .gutter-sizer { width: 8px; }
    .grid-sizer,
    .grid-item { width: calc((100% / 3) - 5.5px); }
  }
  &.grid-no-gap {
    .grid-item { margin-bottom: 0; }
    &.col-2 {
      .gutter-sizer { width: 0; }
      .grid-sizer,
      .grid-item { width: (100% / 2); }
    }
    &.col-3 {
      .gutter-sizer { width: 0; }
      .grid-sizer,
      .grid-item { width: (100% / 3); }
    }
  }
}

// Recent Posts
.widget_silicon_recent_posts,
.widget_silicon_recent_posts_carousel,
.popover {
  .post-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    margin-bottom: 12px;
    align-items: flex-start;
    border-bottom: 1px dashed $border-color;
    padding-bottom: 12px;
    &:first-child { padding-top: 0; }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
    .post-thumb {
      flex: 0 0 60px;
      width: 60px;
      height: 60px;
      margin-right: floor($grid-vertical-step / 2); //~12px
      border-radius: 50%;
    }
    .post-title {
      margin-bottom: 0;
      font: {
        size: $font-size-base;
        weight: normal;
      }
      > a { font-weight: normal; }
    }
    .post-meta { padding-top: 0; }
  }
  .owl-carousel .owl-dots { margin-top: -2px; }
}


// bbPress Styles
#bbp-user-navigation .current a { color: $brand-primary !important; }

// Forum Statistics
.widget_display_stats {
  dl {
    dd {
      padding: 10px 0;
      border-bottom: 1px dashed $border-color;
      color: $gray;
      &:last-child { border: 0; }
      > strong { font-weight: normal !important; }
    }
    > *:nth-child(odd) {
      padding: 10px 10px 10px 0;
      float: left;
    }
  }
}

// Login Widget
.bbp_widget_login {
  .avatar { border-radius: 50%; }
}