//
// WordPress Defaults
// -------------------------------------------------------------------

// Image Caption
.wp-caption {
  display: block;
  position: relative;
  max-width: 100% !important;
  margin-bottom: $grid-vertical-step; //~24px
  > img { display: block; }
  .wp-caption-text {
    display: block;
    width: 100%;
    margin-top: floor($grid-vertical-step / 2); //~12px
    color: $gray;
    font-size: $font-size-sm;
    text-align: center;
    > a { text-decoration: none; }
  }
  p { margin-bottom: 0; }
  > a > img { display: block; }
}

// Text meant only for screen readers.
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  &:focus {
    display: block;
    top: 5px;
    left: 5px;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #21759b;
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    z-index: 100000; /* Above WP toolbar. */
    clip: auto !important;
  }
}

// Image Alignment
.aligncenter,
div.aligncenter {
  display: block;
  margin: {
    right: auto;
    left: auto;
  }
}
.alignright {
  display: block;
  margin: 5px 0 $grid-vertical-step 20px;
  float: right;
}
.alignleft {
  display: block;
  margin: 5px 20px $grid-vertical-step 0;
  float: left;
}

// Gallery
.gallery { margin-bottom: 1.5em; }
.gallery-item {
  display: inline-block;
  width: 100%;
  margin-bottom: $grid-vertical-step; //~24px
  text-align: center;
  vertical-align: top;
  .gallery-icon a img { margin: auto; }
  .wp-caption-text {
    display: block;
    width: 100%;
    margin-top: floor($grid-vertical-step / 2); //~12px
    color: $gray;
    font-size: $font-size-sm;
    text-align: center;
    > a { text-decoration: none; }
  }
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption { display: block; }
.bypostauthor { display: block; }
.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li {
  margin-bottom: 0 !important;
}

// Tabels Default Styles

table {
  margin-bottom: $grid-vertical-step;

  tr {
    > * {
      border-bottom: 1px solid $gray-light;
      padding: ceil($grid-vertical-step / 2);
    }
    thead tr { border-bottom: 1px solid $gray-light; }
    &:last-child > * { border-bottom: 0; }

    th {
      color: $gray;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}