.toplevel_page_silicon > .wp-menu-image {
	background: url(../img/dashboard-menu-icon.png) center no-repeat;
	background-size: cover;
}

.silicon-widget-form-group {
	margin: 1em 0;
}

.silicon-widget-form-group > .equip-media-wrapper {
	margin-top: 12px;
}

.widget-not-allowed {
    background-color: #f57365;
    -webkit-transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    -ms-transition: background-color 0.7s;
    -o-transition: background-color 0.7s;
    transition: background-color 0.7s;
}

.vc_color-picker .wp-picker-holder .vc_alpha-container { display: none !important; }

.silicon-pricing-property { margin-bottom: 20px; }
.silicon-pricing-property:first-child { margin-top: 20px; }
.silicon-pricing-property:last-child { margin-bottom: 0; }
.silicon-pricing-property label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.silicon-admin-page-wrap * { box-sizing: border-box; }
.silicon-admin-page-wrap *::before,
.silicon-admin-page-wrap *::after { box-sizing: border-box; }

.silicon-admin-page-wrap::before,
.silicon-admin-page-wrap::after {
	display: table;
	content: ' ';
}
.silicon-admin-page-wrap .column {
	float: left;
	width: 50%;
	padding-right: 15px;
	padding-bottom: 25px;
}
.silicon-admin-page-wrap .column:last-child {
	padding-right: 0;
	padding-left: 15px;
}
.silicon-admin-page-wrap::after { clear: both; }
.silicon-admin-page-wrap .description-box {
	font-size: 14px;
	border-left: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}
.silicon-admin-page-wrap .link-box {
	display: block;
	float: left;
	width: 280px;
	font-size: 14px;
	border-left: 0;
	margin: 0 30px 30px 0;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: box-shadow .3s;
	transition: box-shadow .4s;
}
.silicon-admin-page-wrap .link-box:last-child {
	margin-right: 0;
}
.silicon-admin-page-wrap .link-box:hover {
	box-shadow:0 1px 10px 0 rgba(0,0,0,0.2);
}
.silicon-admin-page-wrap .link-box:focus,
.silicon-admin-page-wrap .link-box:active {
	outline: none;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
.silicon-admin-page-wrap .link-box h3 { font-size: 16px; }
.silicon-admin-page-wrap .link-box p { color: gray; }
.silicon-admin-page-wrap .link-box .icon {
	display: block;
	width: 65px;
	height: 65px;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.silicon-admin-page-wrap .link-box.silicon-theme-options .icon {
	background-image: url(../img/theme-options-icon.png);
}
.silicon-admin-page-wrap .link-box.silicon-quick-help .icon {
	background-image: url(../img/quick-help-icon.png);
}
.silicon-admin-page-wrap .link-box.silicon-docs .icon {
	background-image: url(../img/documentation-icon.png);
}
.silicon-admin-page-wrap .link-box.silicon-demo-import .icon {
	background-image: url(../img/demo-import-icon.png);
}
.silicon-admin-page-wrap .link-box.silicon-support .icon {
	background-image: url(../img/support-icon.png);
}
.silicon-admin-page-wrap .link-box.silicon-rating .icon {
	background-image: url(../img/rating-icon.png);
}
.silicon-admin-page-wrap .link-box.silicon-buy {
	background-color: #0073aa;
}
.silicon-admin-page-wrap .link-box.silicon-buy .icon {
	background-image: url(../img/buy-icon.png);
}
.silicon-admin-page-wrap .link-box.silicon-buy h3,
.silicon-admin-page-wrap .link-box.silicon-buy p {
	color: #fff;
	font-weight: normal;
}
.silicon-admin-page-wrap .link-box.silicon-buy p { opacity: .5; }
.silicon-admin-page-wrap .link-box .btn {
	display: inline-block;
	padding: 8px 10px;
	color: #fff;
	font-size: 13px;
	border-radius: 3px;
	background-color: #0073aa;
	font-weight: normal;
	margin: 8px 0 10px 0;
}
.silicon-admin-page-wrap .link-box.silicon-buy .btn {
	color: #0073aa;
	background-color: #fff;
}
.silicon-admin-page-wrap .short-description { color: gray; }
.silicon-admin-page-wrap table {
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}
.silicon-admin-page-wrap table small { font-size: 10px; }
.silicon-admin-page-wrap table th,
.silicon-admin-page-wrap table td {
	padding: 15px 25px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	text-align: left;
	vertical-align: top;
}
.silicon-admin-page-wrap table th { vertical-align: middle; }
.silicon-admin-page-wrap table th:first-child,
.silicon-admin-page-wrap table td:first-child {
	width: 250px;
}
.silicon-admin-page-wrap table td.is-visible {
	color: #468847;
	background-color: #dff0d8;
}
.silicon-admin-page-wrap table td.is-hidden {
	color: #ccc;
	background-color: #f8f8f8;
}
.silicon-admin-page-wrap table td.white {
	background-color: #f8f8f8;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.silicon-admin-page-wrap table pre {
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	line-height: 1.8;
}
@media screen and (max-width: 1300px) {
	.silicon-admin-page-wrap .column {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	.silicon-admin-page-wrap .column:last-child {
		padding-left: 0;
	}
}
@media screen and (max-width: 768px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 18px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.table-responsive > table {
		margin-bottom: 0;
		width: 700px;
	}
}

/* Equip overrides inside Widget */
.silicon-widget-form-group .equip-select-wrap::before { display: none; }
.silicon-widget-form-group .equip-select-wrap {
	width: 33%;
	padding-right: 8px;
}
.silicon-widget-form-group .equip-socials-group:first-child {
	margin-top: 5px; 
}
.silicon-widget-form-group .equip-select-wrap > select {
	display: block;
	width: 100%;
}
.silicon-widget-form-group .equip-socials-wrap input {
	width: calc(67% - 44px) !important;
	height: 28px;
}
.silicon-widget-form-group .equip-socials-group .equip-socials-group-remove {
	margin: 0 0 0 8px;
}
.silicon-widget-form-group .equip-socials-group .equip-socials-group-remove > i {
	line-height: 27px;
}
@media screen and (max-width: 782px) {
	.silicon-widget-form-group .equip-socials-wrap input {
		height: 36px;
	}
}
.silicon-widget-form-group .equip-icon-select input {
	width: 100% !important;
	height: 44px !important;
}