/* Tiny MCE styles */

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1, h2, h3 { margin-bottom: 12px; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
.lead { font-size: 24px; }
p, ul, ol {
  font-size: 14px;
  margin-bottom: 24px;
}
a { color: #3d59f9;  }
.text-xl { font-size: 18px !important; }
.text-lg { font-size: 16px !important; }
.text-sm { font-size: 12px !important; }
.text-xs { font-size: 10px !important; }
.text-huge { font-size: 60px !important; }
.text-uppercase { text-transform: uppercase; }
.text-bold { font-weight: bold !important; }
.text-normal { font-weight: normal !important; }
.text-thin { font-weight: 300 !important; }

/* Contextual colors */
.text-primary { color: #3d59f9; }
.text-info { color: #5695fe; }
.text-success { color: #00e676; }
.text-warning { color: #ff5f2c; }
.text-danger { color: #ff5252; }
.text-gray { color: #999999; }
.text-light,
.text-white { color: #e5e5e5 !important; }

/* Contextual backgrounds */
.bg-primary { background-color: rgba(61,89,249,.25); }
.bg-info { background-color: rgba(86,149,254,.25); }
.bg-success { background-color: rgba(0,230,118,.25); }
.bg-warning { background-color: rgba(255,95,44,.25); }
.bg-danger { background-color: rgba(255,82,82,.25); }
.bg-gray { background-color: rgba(153,153,153,.25); }

/* Unstyled list */
ol.list-unstyled,
ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Opacity scale */
.opacity-25 { opacity: .25; }
.opacity-50 { opacity: .5; }
.opacity-75 { opacity: .75; }
