{# app/Resources/views/activity/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Admin Accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block header %}
    <nav>
        sidebar
    </nav>
{% endblock %}

{% block body %}
    {% for user in users %}
        {% if user.hasRole('ROLE_MANAGER') %}
            {{ user.firstName }}
            {{ user.lastName }}

            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        {% endif %}
    {% endfor %}
{% endblock %}
