{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
    <div class="boxing-canvas mt-50">
        <div>
            <p>Merci de vous être inscrit(e) sur Galibelum.</p>
        </div>
        <div>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>

{% endblock fos_user_content %}

{% block javascripts %}
{% endblock %}