{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if targetUrl %}
    <p><a href="../../../views/base.html.twig">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
