/*
 * Silicon Multi-Purpose Technology Theme
 * Copyright 2017 8Guild.com
 * Intro Sections Styles
*/

// General Styles
.intro-section {
  position: relative;
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  > .container,
  > .container-fluid {
    position: relative;
    z-index: 5;
  }

  // Overlay
  > .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .6;
    z-index: 2;
  }
  &[data-jarallax] { background-color: #222222; }

  // Description
  .intro-description {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    > p { margin-bottom: 0; }
  }

  // Buttons
  .intro-buttons { padding-top: 36px; }
}

// Presonal Intro
.intro-personal {
  margin-bottom: 150px;
  padding: {
    top: 220px;
    bottom: 160px;
  }
  .personal-info-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -80px;
    z-index: 5;
  }
  .personal-info { display: table; }
  .person-ava,
  .person-details {
    display: table-cell;
    vertical-align: top;
  }
  .person-ava-inner {
    width: 170px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    > img {
      display: block;
      width: 100%;
    }
  }
  .person-details {
    padding: {
      top: 98px;
      left: 12px;
    }
  }
  .person-name { margin-bottom: 5px; }
  @media screen and (max-width: 800px) {
    padding: {
      top: 150px;
      bottom: 130px;
    }
  }
  @media screen and (max-width: 520px) {
    margin-bottom: 135px;
    padding: {
      top: 100px;
      bottom: 100px;
    }
    .personal-info-wrap { margin-top: -48px; }
    .person-ava-inner { width: 120px; }
    .person-details { padding-top: 60px; }
  }
}

// Comparison Slider
.intro-comparison {
  padding-top: 160px;
  .compar-slider-wrap {
    position: relative;
    width: 100%;
    max-width: 1030px;
    margin: auto;
    margin-top: 80px;
  }
  .compar-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    .macbook {
      display: block;
      width: 100%;
    }
  }
  .cs-label {
    position: absolute;
    top: -40px;
    right: 40px;
    &:first-child {
      right: auto;
      left: 40px;
    }
  }
  .cs-screen {
    position: absolute;
    top: 7.6%;
    right: 3.5%;
    left: 3.8%;
    overflow: hidden;
  }
  .cd-image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    img { display: block; }
  }
  .cd-resize-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      max-width: none;
      height: 100%;
    }
  }
  .cd-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;
    margin: {
      top: -22px;
      left: -22px;
    }
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
    -webkit-transition: -webkit-transform .3s .7s, opacity 0s .7s;
    -moz-transition: -moz-transform .3s .7s, opacity 0s .7s;
    transition: transform .3s .7s, opacity 0s .7s;
    border-radius: 50%;
    background: {
      position: center;
      image: url('../img/cd-arrows.svg');
      repeat: no-repeat;
    }
    cursor: move;
    opacity: 0;
  }

  .is-visible {
    .cd-resize-img {
      width: 50%;
      /* bounce in animation of the modified image */
      -webkit-animation: cd-bounce-in .7s;
      animation: cd-bounce-in .7s;
    }
    .cd-handle {
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 1;
    }
  }
}

@-webkit-keyframes cd-bounce-in {
  0% { width: 0; }
  60% { width: 55%; }
  100% { width: 50%; }
}
@keyframes cd-bounce-in {
  0% { width: 0; }
  60% { width: 55%; }
  100% { width: 50%; }
}

// Mobile App Showcase
.intro-app-showcase {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;

  // Background
  .intro-app-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    background: {
      position: center;
      repeat: no-repeat;
      size: cover;
      attachment: fixed;
    }
    z-index: 1;
    opacity: 0;
    &.active { opacity: 1; }
  }

  // Header
  .intro-app-header {
    display: none;
    padding-top: 110px;
    &.active {
      display: block;
      -webkit-animation: shortFromTop .4s;
      animation: shortFromTop .4s;
    }
  }

  // Logo
  .intro-app-logo {
    margin: {
      right: auto;
      bottom: 20px;
      left: auto;
    }
  }

  // Tagline
  .intro-app-tagline {
    letter-spacing: .075em;
    text-align: center;
  }

  // Switches
  .platform-swith {
    text-align: center;
    white-space: nowrap;
    > a {
      display: inline-block;
      height: 30px;
      margin: 8px;
      padding: 0 24px;
      border-radius: 15px;
      font: {
        size: 11px;
        weight: bold;
      }
      letter-spacing: .1em;
      line-height: 30px;
      text-decoration: none;
      > i {
        display: inline-block;
        margin-top: 2px;
        vertical-align: middle;
      }
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }

  // Gadgets
  .gadget-ios,
  .gadget-android,
  .gadget-windows {
    display: none;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    > img {
      display: block;
      width: 100%;
    }
    &.active {
      display: block;
      -webkit-animation: shortFromBottom .4s;
      animation: shortFromBottom .4s;
    }
    > .screen {
      position: absolute;
      overflow: hidden;
      > img {
        display: block;
        width: 100%;
      }
    }
  }
  .gadget-ios > .screen {
    top: 12.4%;
    right: 7%;
    left: 7%;
  }
  .gadget-android > .screen {
    top: 11.3%;
    right: 5.7%;
    left: 5.4%;
  }
  .gadget-windows > .screen {
    top: 7.1%;
    right: 6.6%;
    left: 6%;
  }

  // Features
  .intro-app-features {
    display: none;
    padding-top: 120px;
    .feature {
      display: table;
      margin-bottom: 40px;
      .feature-icon,
      .feature-text {
        display: table-cell;
        vertical-align: top;
      }
      .feature-icon {
        width: 76px;
        padding-right: 25px;
        > img {
          display: block;
          width: 100%;
        }
      }
    }
    &.active {
      display: block;
      -webkit-animation: shortFromRight .4s;
      animation: shortFromRight .4s;
    }
  }

  // Height breackpoints
  @media (min-height: 1100px) { padding-top: 280px; }
  @media (max-height: 1099px) { padding-top: 230px; }
  @media (max-height: 920px) { padding-top: 180px; }
  @media (max-height: 860px) { padding-top: 140px; }
  @media (max-height: 799px) { height: auto; }

  // Width breackpoints
  @media (max-width: 991px) {
    height: auto;
    padding-top: 140px;
    .intro-app-header { padding-top: 0; }
    .intro-app-features { display: none !important; }
  }
  @media (max-width: 400px) {
    .platform-swith { white-space: normal; }
  }
}

@-webkit-keyframes shortFromTop {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shortFromTop {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes shortFromBottom {
  0% {
    -webkit-transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shortFromBottom {
  0% {
    -webkit-transform: translateY(22px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes shortFromRight {
  0% {
    -webkit-transform: translateX(22px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shortFromRight {
  0% {
    -webkit-transform: translateX(22px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

// Featured Posts Carousel
.intro-featured-posts {
  .featured-post {
    background: {
      position: center;
      repeat: no-repeat;
      size: cover;
    }
    .overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: .6;
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 5;
    }
  }
  .has-post-thumbnail .post-header .post-categories { padding: 0; }
  .post-body {
    padding: {
      top: 52px;
      right: 0;
      left: 0;
    }
    @media (max-width: 768px) { padding-top: 44px; }
  }
  .post-footer {
    padding: {
      right: 0;
      left: 0;
    }
  }
  .owl-carousel .owl-dots {
    position: absolute;
    bottom: 20px;
    margin: 0;
  }
  @media (max-width: 1360px) { .owl-nav { display: none; } }
}
