@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

/*************/
/* Variables */
/*************/

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:  "~@fortawesome/fontawesome-free-webfonts/webfonts";

/* Basic colors */

$brand-primary: darken(#428bca, 20%);
$grey-bg-color: rgba(222, 228, 232, 0.51);
$lighter-grey-bg-color: rgba(245, 248, 250, 0.79);
$border-color:  #e4e4e4;
$placeholder-color: rgb(84, 149, 175);
$red-placeholder-color: rgb(249, 174, 154);
$background-a-color: rgba(43, 158, 176, 0.64);
$red-color: #e06e52;

$grey-color:    #999999;
$main-color:    rgb(43,109,175);
$seconde-color: rgb(41,117,181);
$three-color:   rgb(32,127,188);
$four-color:    rgb(22,138,196);
$five-color:    rgb(13,149,203);
$six-color:     rgb(14,160,204);
$seven-color:   rgb(13,188,208);
$eight-color:   rgb(55,195,203);
$nine-color:    rgb(91,199,194);

/* Fonts */

$font-family-base: sans-serif;