@import '_variables';

/* Page activity_index */

#index-activity {
  .boxing-canvas {
    max-width: 1100px;
    height: 100%;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

// Control height of each tuple for activity

.activity-box {
  border: 1px lightgray solid;
  background: $lighter-grey-bg-color;
  border-radius: 4px;
  max-height: 300px;
  height: 300px;
  word-break: break-all;
}

// Optimization boxing height

.activity-name-height {
  height: 57px;
  word-break: break-word;
}

.activity-date-height {
  height: 25px;
}

.activity-btn-height {
  height: 82px;
  padding-left: 13px;
  padding-right: 13px;
}

/* Page activity_new and activity_edit: creating form */

.boxing-canvas {
  max-width: 1100px;
}

.subtitle-boxing-canvas {
  max-width: 1100px;
}

.input-field {
  margin: 2px 0 0 0;
}

label {
  margin-left: 10px;
}

.backblue-btn {
  max-width: 400px;
}

li {
  color: black;
}

// Back to the dashboard

.back-dashboard {
  padding-top: 5px;
}

.breadcrumb-boxing-canvas {
  max-width: 1100px;
}

// Hide date's and address inputs for new and edit form

.activityHide {
  display: none;
}

// Placeholder's and value's colors

#activity {
  input::placeholder, select, textarea::placeholder {
    font-weight: 200;
    opacity: 0.7;
    color: $placeholder-color !important;
  }
}
