@import '_variables';

/* Page activity_index */

#index-activity {
  .boxing-canvas {
    max-width: 1100px;
    height: 100%;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

.backblue-btn-activity {
  width: 145px;
  margin-left: 30px;
}


// Control height of each tuple for activity

.activity-box {
  border: 1px lightgray solid;
  background: $lighter-grey-bg-color;
  border-radius: 4px;
  max-height: 300px;
  height: 300px;
  word-break: break-word;
}

// Optimization boxing height

.activity-name-height {
  height: 57px;
  word-break: break-word;
}

.activity-date-height {
  height: 25px;
}

.activity-btn-height {
  height: 82px;
  padding-left: 13px;
  padding-right: 13px;
}

/* Page activity_new and activity_edit: creating form */

.boxing-canvas {
  max-width: 1100px;
}

.subtitle-boxing-canvas {
  max-width: 1100px;
}

.input-field {
  margin: 2px 0 0 0;
}

label {
  margin-left: 10px;
}

.backblue-btn {
  max-width: 400px;
}

li {
  color: black;
}

// Back to the dashboard

.back-dashboard {
  padding-top: 5px;
}

.breadcrumb-boxing-canvas {
  max-width: 1100px;
}

// Hide date's and address inputs for new and edit form

.activityHide {
  display: none;
}

// Placeholder's and value's colors

#activity {
  input::placeholder, select, textarea::placeholder {
    font-weight: 200;
    opacity: 0.7;
    color: $placeholder-color !important;
  }
}

@for $i from 0 through 20 {
  #appbundle_activity_socialLink_#{$i} {
    margin: 10px 0 0 0;
    outline: 0;
    display: inline-block !important;
    width: 100% !important;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: none;
    border-radius: 4px !important;
  }
}

/* Media Queries */

@media screen and (max-width: 812px) {
  .backblue-btn-activity {
    margin-left: 0;
  }
}