@import "style";

#index-activity {
  .boxing-canvas {
    background-color: #fff;
    width: auto;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

.breadcrumb-boxing-canvas {
  width: auto;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid $border-color;
}

// Box for each activity & control the height of each tuple

.activity-box {
  border: 1px lightgray solid;
  background: $lighter-grey-bg-color;
  border-radius: 4px;
  max-height: 300px;
  height: 300px;
}

.activity-name-height {
  height: 57px;
}

.activity-date-height {
  height: 25px;
}

.activity-btn-height {
  height: 82px;
  padding-left: 13px;
  padding-right: 13px;
}
