/* Creating sidebar for admin and manager accounts */

// Toggle Styles

.navbar-inverse, .navbar-toggle {
  background-color: rgb(51, 51, 51);
}

.navbar-toggle {
  margin: 8px;
  left: 5px;
}

.navbar-brand > img {
  margin-left: 60px;
  padding-top: 50px;
}

.btn-menu {
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  left: 8px;
}

.btn-primary.active, .active:hover, .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  position: fixed;
  left: 250px;
  z-index: 1000;
  overflow-y: auto;
  margin-left: -250px;
  width: 0;
  height: 100%;
  background: #333333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  padding-top: 25px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

// Sidebar Styles

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  color: #999999;
  text-decoration: none;
  margin-left: 20px;
  font-size: 11px;
  font-weight: bold;
}

.sidebar-nav li a:hover {
  background: rgba(255, 255, 255, 0.2);
  background: linear-gradient(to right,#86ccc2 , #137faf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  margin-top: 90px;
  font-size: 15px;
  line-height: 85px;
}

.sidebar-nav {
  margin-left: 0;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  background: none;
  color: #fff;
}

.open > .dropdown-menu {
  width: 246px;
  background-color: #333333;
}

.sidenav-divider {
  width: 100%;
  border-top: 1px solid;
  border-color: rgba(255,255,255, 0.1);
}

.sidebar-nav a:hover i {
  background: linear-gradient(to right,#86ccc2 , #137faf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(255,255,255, 0.1);
}

.fa-power-off {
  margin-left: 10px;
}

.filebrowse {
  margin-top: 15px;
}

input[type=file]::-webkit-file-upload-button {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to right, #86ccc2 , #137faf);
  padding:  5px 20px 5px 20px;
  border-radius: 4px;
  color: white;

}

// Footer
#galibelum-footer {
  margin-left: 250px;
}

// Changing size for smaller screens


@media (min-width: 320px) and (max-width: 1199px) {
  #galibelum-footer {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    padding-left: 5px;
  }

  .navbar-toggle {
    display: inline;
  }

  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding-top: 25px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 5px;
  }

  .navbar-toggle {
    display: inline;
  }

  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding-top: 25px;
    width: calc(100% - 250px);
    margin-left: 250px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

input {
  width: 140px;
  padding: 7px 16px 7px;
  margin: 8px 0;
  border: none;
  background: rgba(245, 248, 250, 0.79);
  color: #999999;
  border-radius: 4px;
}

label {
  margin-top: 20px;
}

input[type=file]::-webkit-file-upload-button {
  border: 1px solid #FFFFFF;
  background: linear-gradient(to right, #86ccc2 , #137faf);
  padding:  5px 20px 5px 20px;
  border-radius: 4px;
  color: white;
}
