@import "style";

h5 {
  font-size: 20px;
  font-weight: 500;
}

.main-color {
  color: $main-color;
}

.boxing-title {
  background-color: #fff;
  width: auto;
  max-width: 1200px;
  padding-bottom: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid $border-color;
  i{
    font-size: 25px
  }
}

.list-group-item {
  color: #999;
  i {
    margin-right: 10px;
  }
}

.boxing-canvas {
  background-color: #fff;
  max-width: 400px;
  width: auto;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid $border-color;
  h5 {
    font-size: 17px;
    text-align: center;
    color: #a2a2a2b3;
  }
  .boxing-body {
    padding: 25px 30px 30px;
    border: 1px solid transparent;
  }
  .panel-default {
    height: 170px;
    border-color: transparent;
    background-color: #ededed66;
    .panel-title {
      height: 25px;
      font-size: 14px;
      color: $seconde-color;
      text-align: center;
      padding-top: 10px;
    }
    .panel-body {
      height: 140px;
      padding: 15px 20px;
      .btn-primary {
        background-color: $six-color;
      }
    }
  }
}

.carousel.vertical {
  .carousel-inner {
    height: 100%;
  }
  .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
    margin: auto;
    max-height: 510px;
  }
  .next {
    top: 400px;
  }
  .prev {
    top: -400px;
  }
  .carousel-control {
    width: 100%;
    bottom: inherit;
    top: inherit;
  }
  .up {
    top: -30px;
  }
  .down {
    top: calc(100% - 13.6px);
  }
}

.ml-25 {
  margin-left: 25px;
}