@import "style";

.carousel.vertical {
  .carousel-inner {
    height: 100%;
  }
  .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
    margin: auto;
    .panel .media-body {
      h5 {
        font-size: 15px;
      }
    }
  }
  .next {
    top: 400px;
  }
  .prev {
    top: -400px;
  }
  .carousel-control {
    width: 100%;
    bottom: inherit;
    top: inherit;
  }
  .up {
    top: -30px;
  }
  .down {
    top: calc(100% - 13.6px);
  }
}

.boxing-title {
  background-color: #fff;
  width: auto;
  max-width: 1200px;
  padding-bottom: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}
.boxing-canvas {
  background-color: #fff;
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px 20px 5px;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  .title-h5 {
    font-size: 20px;
  }
}
.main-color {
  color: $main-color;
}
.panel-title {
  font-size: 15px;
  color: $seconde-color;
  padding-top: 10px;
}
.panel-body {
  border-color: $seconde-color;
  .btn-primary {
    background-color: $six-color;
  }
}
.mr-10 {
  margin-right: 10px;
}
.ml-25 {
  margin-left: 25px;
}