@import "_variables";

/* Boxing Canvas height fixing */

.boxing-canvas-content-height {
  height: 260px;
}

.boxing-canvas-button-height {
  height: 155px;
}

.white-color {
  color: white;
}

p {
  margin: 0 20px 0 20px;
}

.backred-btn {
  width: 70%;
  border-radius: 4px;
}
.backblue-btn {
  width: 70%;
  border-radius: 4px;
}

.modal-galibelum {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Media queries */
@media (min-width: 521px) and (max-width: 900px) {
  .boxing-canvas {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 520px) {
  .boxing-canvas-content-height {
    height: 340px;
  }
  .boxing-canvas-button-height {
    height: 200px;
  }
  .boxing-canvas {
    height: 700px;
  }
}

@media screen and (max-width: 390px) {
  .boxing-canvas-content-height {
    height: 355px;
  }
  .boxing-canvas {
    margin-bottom: 20px;
  }
}
