@import "style";

.boxing-canvas {
  background-color: #fff;
  width: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-height: 550px;
  padding: 20px 5px 20px 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

br.space {
  display: none;
}

@media screen and(max-width: 429px) {
  a.btn-custom {
    color: #ffffff;
    font-weight: bold;
    padding: 7px 20%;
  }
}

@media screen and(max-width: 1030px) {
  .boxing-canvas {
    min-height: 500px;
  }
  br.space {
    display : inline-block ;
  }
}

@media screen and(min-width: 1400px) {
  br.space {
    display : inline-block ;
  }
}

@media screen and(max-width: 530px) {
  .boxing-canvas {
    max-height: 800px;
  }
}

.white-color {
  color: white;
}

.modal-galibelum {
  box-shadow: none;
  -webkit-box-shadow: none;
}