@import "style";

/* Basics */

a {
  padding-top: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px white;
}

.five-color {
  color: $five-color;
}

/* Form Sign in */

#login {
  text-align: center;
}

.boxing-canvas {
  background-color: #fff;
  width: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 5px 20px 5px;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.subtitle-boxing-canvas {
  background-color: $lighter-grey-bg-color;
  width: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 5px 20px 5px;
  text-align: left;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.forgotten-password {
  padding-top: 5px;
}

.orange-color {
  color: #ffaf7e;
}