@import "_variables";

/* Basics */

a {
  padding-top: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px white;
}

/* Form Sign in */

#login {
  text-align: center;
}

/* Form Sign in */

.modal-galibelum {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.forgotten-password {
  padding-top: 5px;
}

.orange-color {
  color: #ffaf7e;
}

.white-color {
  color: white;
}