@import "style";

.border{
  background-color: #fff;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 30px;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid $border-color
}
.table-striped {
  padding: 20px;
  height: 20px;
}


.icon{
  padding-left: 50%;
}
i{
  padding-right: 3px;
}
.btn{
  margin-bottom: 4%;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}
h5{
  padding-left: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
