@import "style";
h5{
  padding-bottom: 20px;
}
.border{
  background-color: #fff;
  width: 800px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 350px;
  padding: 30px;
  padding-left: 15px; border-radius: 15px;
  border: 1px solid transparent;
}
.table-striped {
  padding: 20px;
  height: 20px;
}
.toto{
  height: 500px;
}
.email{
  padding-left : 50px;
}

.icon{
  padding-left: 49%;
}
i{
  padding-right: 3px;
}