@import "_variables";

/* Background */

.caption, .thumbnail {
  background-color: $lighter-grey-bg-color;
  min-height: 210px;
}

.backblue-btn {
  width: 145px;
  margin-left: 30px;
}

/* Box */

.boxing-canvas {
  max-width: 1100px;
}

.subtitle-boxing-canvas {
  max-width: 1100px;
}

.breadcrumb-boxing-canvas {
  max-width: 1100px;
}

.box-border {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid $border-color;
}

li {
  color:black;
}

/* Input Fields/labels : change margin */

.input-field {
  margin: 2px 0 0 0;
}

label {
  margin-left: 10px;
}

/* Tables */

th {
  text-align: center;
}

/* PlaceHolders  */

#appbundle_offer_date {
  color: $placeholder-color;
}

#appbundle_offer_description::placeholder {
  color: $placeholder-color;
}

/* Correct padding */

.correct-pl {
  padding-left: 0;
}

/* Media Queries */

@media screen and (max-width: 1366px) {
  .activity-thumbnail {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 568px) {
  h4 {
    font-size: 23px;
  }
}