/* Input fields */
label {
  margin-left: 10px;
}

.input-no-border {
  margin: 10px 0 0 0;
  outline: 0;
  display: inline-block !important;
  width: 100% !important;
  padding: 7px;
  background-color: #fff;
  box-shadow: none;
  border-radius: 4px !important;
}

.input-field {
  outline: 0;
  margin-top: 1px;
  display: inline-block !important;
  width: 100% !important;
  padding: 7px;
  background-color: #fff;
  box-shadow: none;
  border-radius: 4px !important;
}

/* Edit form */
.box {
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 5px 20px 5px;
  margin-top: 20px;
  border-radius: 4px;
}

/* link to go to the homepage or delete profile */
a:hover {
  text-decoration-color: #f9867d;
}

@media (max-width: 375px) {
  .normal-subtitle-text {
    color: #999999;
    font-weight: 300;
    padding-left: 8px;
    padding-right: 8px;
  }
}