@import "style";

/*border page and color page*/
.border{
  border-top: 1px solid $border-color ;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color ;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;;
  background-color: #fff;
  margin-top: 5%;
}
/*icon tiltle*/
.icon-enter{
  margin-top: 5%;
  padding-left: 48%;
}
/*size topple description*/
#appbundle_organization_description {
 min-height: 80px;
  width:100%;
}
/*color title*/
.degradeblue{
  text-align: center;
  font-size:30px;
}
/*size topple*/
.form-control{
  height: 35px;
}
/* size button*/
.backblue-btn{
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
}

label .required {
  padding: 10px;
  margin: 10px;
}
/* Media queries page inscription*/

@media screen and (max-width: 420px) {
.border {
  margin-left: 4%;
  margin-bottom: 20%;
}

}
@media screen and (max-width: 420px) {
  .picture {
    margin-bottom: 30%;
    padding-top: 20%;
  }

}