@import "style";

.border-one{
  border-top: 1px solid $border-color ;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color ;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;;
  background-color: #fff;
  }

.border{
  border-top: 1px solid $border-color ;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color ;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;;
  background-color: #fff;
}

.general-form{
padding: 5px;
  margin: 7px;
}

.contact-form{
padding:5px;
  margin:7px;
}

#appbundle_organization_description {
 min-height: 150px;
  width:100%;
}

.degradeblue{
  text-align: center;
  font-size:30px;
}

.form-control{
  height: 45px;
}

.relationNumber{
  padding-bottom: 20%;
  width: 100%;
}

.backblue-btn{
  margin-bottom: 10%;
  width: 15%;
}

label .required {
  padding: 10px;
margin: 10px;
}

/* Media queries page inscription*/

@media screen and (max-width: 420px) {
.border {
  margin-left: 4%;
  margin-bottom: 20%;
}

}
@media screen and (max-width: 420px) {
  .picture {
    margin-bottom: 30%;
    padding-top: 20%;
  }

}