@import "style";

i{
  padding-right: 10px;
}

.form-group {
  margin-bottom: 15px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 4px;
  color: $grey-color;
}

#organization {
  .boxing-canvas {
    background-color: #fff;
    width: auto;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

.breadcrumb-boxing-canvas {
  width: auto;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid $border-color;
}

/* Checking company or structure side */
#company {
  input::placeholder, select, textarea::placeholder {
    font-weight: 200;
    opacity: 0.7;
    color: $red-placeholder-color !important;
  }

  .boxing-canvas {
    background-color: #fff;
    width: auto;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

/* Description textarea */
.description-text {
  word-wrap: break-word;
}

/* Media queries */
@media screen and (max-width: 991px) {
  #company {
    .boxing-canvas {
      height: 850px;
    }
  }
  #organization {
    .boxing-canvas {
      height: 1000px;
    }
  }
}

@media screen and (max-width: 450px) {
  #company {
    .boxing-canvas {
      height: 970px;
    }
  }
  #organization {
    .boxing-canvas {
      height: 1100px;
    }
  }
}

@media screen and (max-width: 340px) {
  #company {
    .boxing-canvas {
      height: 1030px;
    }
  }
  #organization {
    .boxing-canvas {
      height: 1190px;
    }
  }
}