@import "_variables";

#organization {
  .boxing-canvas {
    max-width: 1200px;
    height: 770px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

/* Checking company or structure side */

#company {
  input::placeholder, select, textarea::placeholder {
    font-weight: 200;
    opacity: 0.7;
    color: $red-placeholder-color !important;
  }

  .boxing-canvas {
    max-width: 1100px;
    height: 650px;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid $border-color;
  }
}

.breadcrumb-boxing-canvas {
  max-width: 1100px;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid $border-color;
}

/* Description textarea */

#appbundle_organization_description {
  min-height: 80px;
  width: 100%;
}

/* Media queries */

@media screen and (max-width: 991px) {
  #company {
    .boxing-canvas {
      height: 970px;
    }
  }
  #organization {
    .boxing-canvas {
      height: 1090px;
    }
  }
}

@media screen and (max-width: 442px) {
  #company {
    .boxing-canvas {
      height: 1070px;
    }
  }
  #organization {
    .boxing-canvas {
      height: 1250px;
    }
  }
}

@media screen and (max-width: 360px) {
  #company {
    .boxing-canvas {
      height: 1190px;
    }
  }
  #organization {
    .boxing-canvas {
      height: 1330px;
    }
  }
}