@import "_variables";

/* Checking company or structure side */

#company {
  .boxing-canvas {
    .degradeblue {
      background: linear-gradient(to right, #fad27b, #f9867d) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }
    .degradered {
      background: linear-gradient(to right, #137faf, #86ccc2) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }
    input::placeholder, select, textarea::placeholder {
      font-weight: 200;
      opacity: 0.7;
      color: $red-placeholder-color !important;
    }
    .backblue-btn-sm {
      background-image: linear-gradient(to right, #fad27b, #f9867d);
      border-color: #FFFFFF;
      width: 190px;
    }
  }
}

// Table

#table_manager_wrapper {
  margin-top: 50px;
}

table.dataTable tbody td {
  padding: 8px 10px;
  vertical-align: middle;
}

table.dataTable tbody{
  border: 1px solid;
}

.boxing-canvas {
  max-width: 1250px;
  border-radius: 4px;
}

.container {
  padding: 0;
}

table.dataTable tbody td {
  padding: 8px 10px;
  vertical-align: middle;
}

th, td {
  text-align: center;
}

.textarea-table {
  width: 220px;
  word-wrap: break-word;
  text-align: justify;
}

// Button width for manager_index

.btn-organization {
  width: 90px;
}

// Buttons part for manager_contract

strong {
  font-weight: bold;
}

.button {
  border-image: initial;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif, sans-serif;
  font-size: 12px;
  line-height: 20px;
  width: 140px;
  padding: 7px 16px 7px;
  transition: all 20ms ease-out;
  vertical-align: top;
  font-weight: bold;
}
.button-grey {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
  border: 1px solid #bfbfbf;
  color: #8c8c8c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.button-yellow {
  background-color: #fce374;
  background-image: linear-gradient(to bottom, #fce374, #fcdf5b);
  border: 1px solid #c9ae34;
  color: #967d09;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.button-green {
  background-color: rgb(151, 204, 118);
  background-image: linear-gradient(rgb(151, 204, 118), rgb(139, 204, 98));
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) ;
  border: 1px solid rgb(95, 153, 58);
}

.button-blue {
  background-color: #42B0E3;
  background-image: linear-gradient(to bottom, #42B0E3, #2BA9E3);
  border: 1px solid #107DB0;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-purple {
  background-color: #847BBA;
  background-image: linear-gradient(to bottom, #847BBA, #7568BA);
  border: 1px solid #493E87;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-red {
  background-color: #ED6D64;
  background-image: linear-gradient(to bottom, #ED6D64, #ED574C);
  border: 1px solid #BA3329;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.button-yellow:hover {
  color: #967d09;
  text-decoration: none;
}

.button-grey:hover {
  color: #8c8c8c;
  text-decoration: none;
}

.button-green:hover, .button-blue:hover, .button-purple:hover, .button-red:hover {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  table.dataTable.no-footer {
    border-bottom: none;
  }
}