@import "style";

.logo-galibelum {
  width: 70%;
  margin-top: 160px;
  margin-left: 230px;
}

.first-four {
  padding-left: 530px;
  margin-top: 120px;
  color: #2375b5;
  font-size: 290px;
}

.second-four {
  color: #38c4cb;
  font-size: 290px;
  margin-top: 120px;
  margin-right: 300px;
}

.phrase {
  color: #999999;
  font-size: 60px;
  font-weight: bold;
  margin-top: 80px;
}