/* Form profile & form password*/

.boxing-canvas {
  background-color: #fff;
  padding: 30px 5px 20px 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


/* Form password */
.form-part-password{
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.20);
  margin-top: 100px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.form-part-password:hover {
  transform: scale(1.1);
}
