/* Form profile & form password */

.profile-boxing-canvas {
  background-color: #fff;
  height: 350px;
  padding: 30px 5px 20px 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.profile-boxing-canvas-content-height {
  height: 350px;
}

.modal-galibelum {
  box-shadow: none;
  -webkit-box-shadow: none;
}

@media screen and (min-width: 300px) {
  .profile-title {
    font-size: 20px;
  }
}
