@import "_variables";

/* Basics */
label {
  display: inline-block;
  max-width: 100%;
  margin: 10px;
  font-weight: lighter;
}

a {
  padding-top: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px white;
}

/* Form Register */

.boxing-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  text-align: center;
}

.subtitle-boxing-canvas {
  max-width: 1200px;
}

.logo-galibelum {
  width: 400px;
  vertical-align: middle;
  height: auto;
}

.forgotten-password {
  padding-top: 5px;
}

.orange-color {
  color: #ffaf7e;
}

/* Media Queries */

@media (min-width: 768px) and (max-width: 843px) {
  .logo-galibelum {
    width: 350px;
    margin-left: 0;
  }
}

@media (min-width: 843px) and (max-width: 1300px) {
  .logo-galibelum {
    width: 400px;
    margin-left: 0;
  }
}

