@import "variables";

.boxing-canvas {
  background-color: #fff;
  width: auto;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 580px;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid $border-color;
}

/* Checking company or structure side */

#company {
  .boxing-canvas {
    .waiting_title h2 {
      background: linear-gradient(to right, #fad27b, #f9867d) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }
    .light-blue-subtitle-text {
      color: #e06e52;
      font-weight: 300;
      font-size: 1em;
    }
    .backblue-btn-sm {
      background-image: linear-gradient(to right, #fad27b, #f9867d);
      border-color: #FFFFFF;
      width: 190px;
    }
  }
}

.separator {
  height: 2px;
  width: 40px;
  margin:20px auto;
  background: #888888;
}

.waiting_background_image {
  position: relative;
  max-width: 100%;
  height: auto;
}

.backblue-btn {
  width: 20%;
  margin-bottom: 20px;
}

.waiting_contact {
  position: relative;
  bottom: 100%;
  transform: translateY(100%);
}

.waiting_name {
  float: right;
}

h2 {
  font-size: 40px;
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .waiting_contact {
    margin-bottom: 30px;
  }
  .boxing-canvas {
    height: 550px;
  }
}
