.box-waiting {
  border: #137faf solid;
  padding: 5px 5px 20px 5px;
  border-radius: 7px;
  margin-top: 20px;
}

.box-shadow-waiting {
  margin: 2em;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.14);
  padding: 2em;
}

.figure-waiting {
  display: flex;
  align-items: center;
}

.waiting {
  padding: 10px;
}