//
// Variables
// --------------------------------------------------

//== Colors
//
//## Grayscale and brand colors for use across the theme.
// -------------------------------------------------------

// Grayscale
$gray-darker:             #222222;
$gray-dark:            	  #404040;
$gray:                    #999999;
$gray-light:              #e7e7e7;
$gray-lighter:            #f5f5f5;
$white-color:             #ffffff;
$black-color:             #000000;

// Brand colors
$brand-primary:           #3d59f9;
$brand-info:		          #5695fe;
$brand-success:           #00e676;
$brand-warning:           #ff5f2c;
$brand-danger:            #ff5252;

// Theme Gradient
$gradient-color-1:        #8e54e9;
$gradient-color-2:        $brand-primary;

// Body
$body-bg:                 #ffffff;
$text-color:              $gray-dark;

// Inline links
$link-color:              $brand-primary;
$link-hover-color:        $brand-primary;

// Headings
$h1-color:                $gray-darker;
$h2-color:                $gray-darker;
$h3-color:                $gray-darker;
$h4-color:                $gray-darker;
$h5-color:                $gray-darker;
$h6-color:                $gray-darker;

// Blockquote
$quote-text-color:        $text-color;
$quote-mark-color:        $gray-light;
$quote-author-color:      $gray;

// Navigation
$navi-link-color:         $gray-darker;
$navi-link-hover-color:   $brand-primary;
$navi-link-active-color:  $brand-primary;

// Forms
$form-label-color:        $gray;
$form-text-color:         $gray-dark;
$form-placeholder-color:  $gray;
$form-icon-color:         $gray;

// Widgets
$widget-title-color:      $gray;

// Borders
$border-color:            $gray-light;
$border-light-color:      rgba($white-color, .15);

// Search Highlight
$search-highlight:        #f9f4c3;


//== Typography
//
//## Font sizes, font weights, line-height and more.
// -------------------------------------------------------

$font-family-body: 		  'Roboto Slab', serif;
$font-family-headings: 	'Roboto', sans-serif;
$font-family-navs: 	    'Roboto', sans-serif;

// Font sizes
$font-size-base:        14px;
$font-size-lead:        ceil(($font-size-base * 1.7)); // ~24px
$font-size-xl: 			    ceil(($font-size-base * 1.285)); // ~18px
$font-size-lg: 			    ceil(($font-size-base * 1.14)); // ~16px
$font-size-md: 			    floor(($font-size-base * .93)); // ~13px
$font-size-sm: 			    floor(($font-size-base * .86)); // ~12px
$font-size-xs:         	floor(($font-size-base / 1.4)); // ~10px

$font-size-h1:          ceil(($font-size-base * 2.57)); // ~36px
$font-size-h2:          ceil(($font-size-base * 2.14)); // ~30px
$font-size-h3:          ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:          ceil(($font-size-base * 1.428)); // ~20px
$font-size-h5:          floor(($font-size-base * 1.29)); // ~18px
$font-size-h6:          ceil(($font-size-base * 1.14)); // ~16px
$font-size-quote:       $font-size-xl;
$quote-mark-size:       36px;
$quote-author-size:     $font-size-base;
$font-size-navi:        $font-size-sm;
$font-size-widget:      $font-size-base;

// Font styles
$font-style-base:        normal;
$font-style-h1:          normal;
$font-style-h2:          normal;
$font-style-h3:          normal;
$font-style-h4:          normal;
$font-style-h5:          normal;
$font-style-h6:          normal;
$font-style-link:        normal;
$font-style-quote:       normal;
$font-style-navi:        normal;
$font-style-widget:      normal;

// Font weights
$font-weight-base:        normal;
$font-weight-h1:          900;
$font-weight-h2:          900;
$font-weight-h3:          900;
$font-weight-h4:          900;
$font-weight-h5:          900;
$font-weight-h6:          900;
$font-weight-link:        normal;
$font-weight-quote:       300;
$font-weight-navi:        bold;
$font-weight-widget:      500;

// Text transforms
$text-transform-base:    none;
$text-transform-h1:      none;
$text-transform-h2:      none;
$text-transform-h3:      none;
$text-transform-h4:      none;
$text-transform-h5:      none;
$text-transform-h6:      none;
$text-transform-link:    none;
$text-transform-quote:   none;
$text-transform-navi:    uppercase;
$text-transform-widget:  uppercase;

// Line heights
$line-height-base:       1.5;
$line-height-h1:         1.15;
$line-height-h2:         1.2;
$line-height-h3:         1.25;
$line-height-h4:         1.3;
$line-height-h5:         1.35;
$line-height-h6:         1.4;


//== Grid Vertical Step
// -------------------------------------------------------

$grid-vertical-step:     24px;


//== Default Border Width / Radius
// -------------------------------------------------------

$border-width-default:   1px;
$border-radius-default:  5px;


//== Forms
// -------------------------------------------------------

$input-lg-height:            50px;
$input-height:               44px;
$input-sm-height:            36px;
$input-multiple-height:      90px;
$textarea-min-height:        120px;


//== Buttons
// -------------------------------------------------------

$btn-lg-height:          50px;
$btn-height:             44px;
$btn-sm-height:          36px;
$btn-xs-height:          21px;
$btn-margin:             floor($grid-vertical-step / 2); //~12px


// Market Buttons
// -------------------------------------------------------

// Global
$market-btn-height:      60px;

// Amazon
$amazon-btn-width:       185px;
$amazon-btn-bg:          #f5f5f5;
$amazon-btn-color:       #000000;

// App Store
$appstore-btn-width:     200px;
$appstore-btn-bg:        #000000;
$appstore-btn-color:     #ffffff;

// Google Play
$playstore-btn-width:    202px;
$playstore-btn-bg:       #f5f5f5;
$playstore-btn-color:    #000000;

// Windows
$windows-btn-width:      215px;
$windows-btn-bg:         #00adef;
$windows-btn-color:      #ffffff;

// Blackberry
$blackberry-btn-width:   218px;
$blackberry-btn-bg:      #000000;
$blackberry-btn-color:   #ffffff;


//Header
// -------------------------------------------------------

// Navbar
$navbar-bg:              $white-color;
$navbar-stuck-bg:        $white-color;


//== Media queries (responsive breakpoints)
//## Desktop, Tablet, Mobile, Menu Collapse
// -------------------------------------------------------

$desktop:   		   'screen and (max-width: 1200px)';
$tablet-land:      'screen and (max-width: 991px)';
$tablet-port:    	 'screen and (max-width: 768px)';
$mobile-land:		 	 'screen and (max-width: 480px)';
$mobile-port:		 	 'screen and (max-width: 360px)';
$menu-collapse: 	 $tablet-land;
