//
// Scaffolding
// --------------------------------------------------

// Body base
// --------------------------------------------------

body {
  background: {
    position: center;
    color: $body-bg;
    repeat: no-repeat;
    size: cover;
  }
  color: $text-color;
  font: {
    family: $font-family-body;
    size: $font-size-base;
    style: $font-style-base;
    weight: $font-weight-base;
  }
  line-height: $line-height-base;
  text-transform: $text-transform-base;
}
html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Font Families
// --------------------------------------------------

.font-family-body { font-family: $font-family-body; }
.font-family-nav { font-family: $font-family-navs; }
.font-family-headings { font-family: $font-family-headings; }


// Acent Colors
// --------------------------------------------------

// Text colors
.text-primary { color: $brand-primary !important; }
.text-info { color: $brand-info !important; }
.text-success { color: $brand-success !important; }
.text-warning { color: $brand-warning !important; }
.text-danger { color: $brand-danger !important; }
.text-light,
.text-white { color: $white-color !important; }
.text-gray { color: $gray !important; }
.text-dark { color: $gray-darker !important; }


// Background colors
.background-primary { background-color: $brand-primary; }
.background-info { background-color: $brand-info; }
.background-success { background-color: $brand-success; }
.background-warning { background-color: $brand-warning; }
.background-danger { background-color: $brand-danger; }
.background-dark { background-color: $gray-darker; }
.background-gray { background-color: $gray-light; }
.background-white { background-color: $white-color; }
.background-gradient {
  @include gradient-background;
}
.background-transparent { background-color: transparent !important; }

// Contextual backgrounds
.bg-default { background-color: rgba($gray, .25); }
.bg-primary { background-color: rgba($brand-primary, .25); }
.bg-info { background-color: rgba($brand-info, .25); }
.bg-success { background-color: rgba($brand-success, .25); }
.bg-warning { background-color: rgba($brand-warning, .25); }
.bg-danger { background-color: rgba($brand-danger, .25); }
.bg-gray { background-color: $gray-lighter; }
.bg-gradient {
  @include gradient-background;
  color: $white-color !important;
}

// Navi Link Classes
.navi-link-color {
  transition: color .3s;
  color: $navi-link-color !important;
}
.navi-link-hover-color:hover {
  color: $navi-link-hover-color !important;
}


// Default Borders
// --------------------------------------------------

.border-default { border: $border-width-default solid $border-color; }
.border-default-left { border-left: $border-width-default solid $border-color; }
.border-default-top { border-top: $border-width-default solid $border-color; }
.border-default-right { border-right: $border-width-default solid $border-color; }
.border-default-bottom { border-bottom: $border-width-default solid $border-color; }
hr { border-top-color: $border-color !important; }


// Border colors
// -------------------------------------------------------

.border-color-primary { border-color: $brand-primary; }
.border-color-info { border-color: $brand-info; }
.border-color-success { border-color: $brand-success; }
.border-color-warning { border-color: $brand-warning; }
.border-color-danger { border-color: $brand-danger; }
.border-color-gray { border-color: $gray-light; }
.border-color-dark { border-color: $gray-darker; }
.border-light { border-color: $border-light-color; }


// Display & Positioning
// -------------------------------------------------------

.block { display: block !important; }
.inline-block { display: inline-block !important; }
.block-center {
  display: block;
  margin: auto;
}
.relative { position: relative !important; }
.absolute { position: absolute !important; }
.overflow-hidden { overflow: hidden; }


// Vertical Space classes
// -------------------------------------------------------

@include block-padding-top(1, 12);
@include block-padding-bottom(1, 12);
@include block-margin-top(1, 12);
@include block-margin-bottom(1, 12);
.padding-top-none { padding-top: 0 !important; }
.padding-bottom-none { padding-bottom: 0 !important; }
.margin-top-none { margin-top: 0 !important; }
.margin-bottom-none { margin-bottom: 0 !important; }


// Opacity scale
// -------------------------------------------------------

.opacity-15 { opacity: .15; }
.opacity-25 { opacity: .25; }
.opacity-50 { opacity: .5; }
.opacity-60 { opacity: .6; }
.opacity-75 { opacity: .75; }


// Image Shapes
// -------------------------------------------------------
.img-rounded { border-radius: $border-radius-default; }
.img-circle { border-radius: 50%; }


// Selection color
// -------------------------------------------------------
::-moz-selection {
  background: $gray-darker;
  color: $white-color;
}
::selection {
  background: $gray-darker;
  color: $white-color;
}


// Search Highlight
// -------------------------------------------------------
.search-highlight { background-color: #f9f4c3; }
