.btn {
  padding: 7px 4%;
  margin-top: 2%;
}

.picture {
  padding-right: 20%;
  padding-top: 2%;
  width: 100%;
}

.form-group {
  margin-bottom: 5%;
  padding: 3%;
}

.border {
  padding: 10%;
  border: white solid 1px;
  border-radius: 5px;
  margin: 5%;
  background-color: #e2e2e2;
  padding-bottom: 17%;
}

.title {
  padding-top: 20%;
  background: linear-gradient(to right, #137faf, #86ccc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#appbundle_organization_description {
 min-height: 250px;
}

.onesection {
  padding-top: 10%;
}

.degradeblue {
  margin-bottom: 20%;
  text-align: center;
}

.phoneNumber {
  padding-top: 10%;
  margin-bottom: 10%;
}

.email {
  padding-top: 10%;
}

.userRole {
  margin-top : 15%;
}

.form-control {
  height: 45px;
}
