/* Form profile & form password*/

#two-forms {
  background-color: #f5f5f5;
}

/* Form profile*/

.form-part-profile {
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.20);
  margin-top: 100px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.form-part-profile:hover {
  transform: scale(1.1);
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .padding-username {
    padding-top: 35px;
  }
}

.backred-btn {
  background-image: linear-gradient( to right, #fad27b, #f9867d);
  border: #f9867d;
  font-weight: bold;
}

/* Form password */

.form-part-password{
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.20);
  margin-top: 100px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.form-part-password:hover {
  transform: scale(1.1);
}

.backblue-btn {
  background-image: linear-gradient( to right, #86ccc2 , #137faf);
  font-weight: bold;
}
