//
// Content Boxes
// --------------------------------------------------

.content-box {
  position: relative;
  padding-bottom: $grid-vertical-step;
  transition: .25s;
  background-color: $white-color;
  .content-box-body {
    padding: $grid-vertical-step;
    word-wrap: break-word;
    p { margin: 0; }
  }

  &.content-box-icon,
  &.content-box-icon-image {
    .content-box-header {
      padding-top: ($grid-vertical-step * 2);
      user-select: none;
      i { font-size: 69px; }
      i[class^='socicon'] { line-height: .5; }
    }
  }

  &.content-box-icon-image .content-box-header {
    img { width: 72px; }
  }

  .btn { margin-bottom: $grid-vertical-step; }

  .content-box-decoration-line {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }

  &:hover {
    box-shadow: 0 20px 72px -20px rgba(0, 0, 0, .25);
  }

  &.content-box-image-cover img { user-select: none; }
}

