//
// Decription List
// --------------------------------------------------

// Base Class
dl {
  dt.h6, dt.h5 {
    margin-top: $grid-vertical-step;
    margin-bottom: 0;
    font-weight: bold;
    &:first-child { margin-top: 0; }
    &:empty {
      margin-top: floor($grid-vertical-step / 2); //~12px
    }
  }
  dd {
    padding-top: floor($grid-vertical-step / 2); //~12px
    padding-bottom: $grid-vertical-step;
    &:empty { padding-top: 0; }
  }
  &.light-skin {
    dt { color: $white-color; }
    dd {
      border-color: $border-light-color !important;
      color: rgba($white-color, .5);
    }
  }
}

// Version with Icon
dl.with-icon {
  dt.h6, dt.h5 {
    position: relative;
    padding-left: ($grid-vertical-step + 3);
    i {
      position: absolute;
      top: 1px;
      left: 0;
      font-size: 18px;
    }
  }
  dd { padding-left:  ($grid-vertical-step + 3); }
}
