//
// Gallery
// --------------------------------------------------

.si-gallery-item {
  display: block;
  position: relative;
  overflow: hidden;
  &::before {
    transition: opacity .4s;
    @include overlay-block(1, $black-color, 0);
  }
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -24px;
    transform: translateY(12px);
    transition: .4s;
    color: $white-color;
    font: {
      family: silicon-icons;
      size: 48px;
    }
    line-height: 1;
    text-align: center;
    content: '\e93c';
    opacity: 0;
    z-index: 5;
  }
  > figure { display: none; }
  > img {
    display: block;
    width: 100%;
    transition: .45s;
    backface-visibility: hidden;
  }
  &:hover {
    &::before { opacity: .6; }
    &::after {
      transform: translateY(0);
      opacity: 1;
    }
    > img { transform: scale(1.08); }
  }
}
.pswp__caption__center {
  font-weight: 500;
  text-align: center !important;
}
.pswp__ui--fit .pswp__caption,
.pswp__caption {
  background-color: transparent !important;
}
// Fix For WP Default Styles
.grid-item .si-gallery-item { margin-bottom: 0 !important; }