//
// Icons
// --------------------------------------------------

.sc-icon {
  .sc-icon-inner {
    display: inline-block;
    position: relative;
    i {
      position: absolute;
      line-height: 1;
      @include center(xy);
    }
    img { width: 100%; }
  }

  // Shapes type
  .si-icon-shape-square  { border-radius: 0; }
  .si-icon-shape-rounded  { border-radius: $border-radius-default; }
  .si-icon-shape-circle  { border-radius: 50%; }

  // Shape filled type
  .si-icon-shape-filled { border-color: transparent !important; }
}
