//
// Team
// -------------------------------------------------------

.si-team {
  display: -ms-flexbox;
  display: flex;
  .si-team-avatar img {
    display: block;
    border-radius: 50%;
  }
  .si-team-title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: bold;
  }
  .social-bar { padding-top: ceil($grid-vertical-step / 1.5); }
}

.si-team-default-vertical {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  .si-team-avatar {
    width: 144px;
    margin-bottom: $grid-vertical-step;
  }
  .si-team-info { text-align: center; }
}

.si-team-default-horizontal {
  -ms-flex-direction: row;
  flex-direction: row;
  .si-team-avatar {
    width: 100px;
    min-width: 100px;
    margin-right: $grid-vertical-step;
  }
  .si-team-info { text-align: left; }
}

// For Justified Grid
.si-justified-item {
  .si-team-default-vertical {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: {
      top: ceil($grid-vertical-step * 2);
      bottom: ceil($grid-vertical-step * 2);
    }
    .si-team-avatar {
      margin-bottom: 0;
      transition: .3s;
    }
    .si-team-info {
      position: absolute;
      bottom: 0;
      transform: translateY(10px);
      transition: .15s;
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      .si-team-avatar {
        transform: scale(.7) translateY(-50%);
      }
      .si-team-info {
        transform: translateY(0);
        transition: .3s;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Freeze Hovered Statement For Touch Devices
.touchevents {
  .si-justified-item .si-team-default-vertical {
    .si-team-avatar {
      transform: scale(.7) translateY(-50%);
    }
    .si-team-info {
      transform: translateY(0);
      transition: .3s;
      opacity: 1;
      visibility: visible;
    }
  }
}

// Card
.si-team-card .widget { margin-bottom: 0; }