//
// Testimonials
// --------------------------------------------------

.testimonial {
  position: relative;
  padding: $grid-vertical-step; //~24px
  padding-top: ($grid-vertical-step * 1.8); //~43px
  border-radius: $border-radius-default;
  background-color: $white-color;

  .quote-mark {
    display: block;
    position: absolute;
    top: 0;
    left: $grid-vertical-step;
    width: 36px;
    height: 36px;
    transform: translateY(-50%);
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);

    > i { vertical-align: middle; }
    &.background-white { color: $gray-dark; }
  }
  .testimonial-author {
    display: flex;
    margin-top: floor($grid-vertical-step / 1.2); //~20px
  }
  .author-avatar {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .testimonial-author-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
  }
  .testimonial-author-name {
    margin-bottom: 3px;
    font: {
      size: $font-size-base;
      weight: bold;
    }
  }
  .testimonial-author-position {
    margin: 0;
    font: {
      size: $font-size-sm;
      weight: normal;
    }
  }
  p { margin-bottom: 0; }

  // Alignment Options
  // Center Alignment
  &.testimonial-center {
    text-align: center;
    .quote-mark {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .testimonial-author {
      justify-content: center;
      text-align: left;
    }
  }
  // Right Alignment
  &.testimonial-right {
    text-align: right;
    .quote-mark {
      right: $grid-vertical-step;
      left: auto;
      transform: translateY(-50%);
    }
    .testimonial-author {
      justify-content: flex-end;
      text-align: right;
      .author-avatar {
        margin: {
          right: 0;
          left: 12px;
        }
      }
    }
  }
}

// Inside Carousel
.testimonials-carousel.owl-carousel .owl-stage-outer {
  padding: {
    top: 20px;
    bottom: 2px;
  }
  .testimonial {
    .quote-mark { left: $grid-vertical-step; }
    &.testimonial-right .quote-mark {
      right: $grid-vertical-step;
      left: auto;
    }
    &.testimonial-center .quote-mark { left: 50%; }
  }
}
