{#{% extends 'email/notification.html.twig' %}#}

{#{% block body %}#}
    {#<h2 style="color:#0E7693; font-size:22px; padding-top:12px;">Votre statut</h2>#}

    {#<div align="left" class="article-content">#}
        {#{{ subject }}#}
        {#{{ message }}#}
        {#{% elseif offer.status == 3 %}#}
        {#<p>Vous devez faire un paiement.</p>#}
        {#{% elseif offer.status == 4 %}#}
        {#<p> Malheureusement l'offre est expirée !</p>#}
        {#{% elseif offer.status == 5 %}#}
        {#<p>L'offre est refusée</p>#}

        {#<p>Pour toute question, n'hesitez pas à nous contacter par téléphone ou par mail.</p>#}
    {#</div>#}
{#{% endblock %}#}