{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activity creation</h1>

    {{ form_start(form) }}

    {{ form_widget(form.name) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('dashboard_index') }}">Revenir au Dashboard</a>
        </li>
    </ul>
{% endblock %}
