{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <input id="search" title="search" name="search">
        <div class="alert-danger error" style="display: none;">La recherche dois comporter 3 caracteres</div>
        <button id="btn_search">Rechercher</button>
    </div>

    <div class="container-fluid bg-success" id="search_result" style="width: 100%; height: 1000px;">

    </div>

{% endblock %}

{% block javascripts %}

    <script src="../../../../assets/js/jquery-3.3.1.js"></script>


    <script>


        $('#btn_search').click(function(event) {

            $('.ajax_result').remove();

            event.preventDefault();

            var formData = {
                'search': $('#search').val()
            };

            $.ajax({
                url: '/result',
                type: 'POST',
                data: formData,
                dataType: 'json',
                encode: true

            })
                .done (function (data) {

                    //console.log(data.organization);
                    //alert('La première zone a été mise à jour');

                    var org = data[0].organization;
                    var act = data[1].activity;



                    $('#search_result').append(
                        '<div class="ajax_result"><p>'+ act.name + '</p></div><br>' +
                        '<div class="ajax_result"><p>'+ act.description + '</p></div>' +
                        '<div class="ajax_result"><p>'+ org.name + '</p></div>' +
                        '<div class="ajax_result"><p>'+ org.description + '</p></div>'




                    )


                        /*if (data.activity) {
                            alert("t'es bien dans les activites");
                            for (let i =0; i < data.activity.length; i++) {
                                alert("t'es bien dans les activites");

                                $('#search_result').append(
                                    '<div class="ajax_result"><p>' + [1].data[i].activity.name + '</p><br><p>' + data[i].activity.description + '</p></div>'
                                )
                            }
                        }*/

                       /* if (data.organization) {
                            for (let i =0; i < data.organization.length; i++) {
                                console.log(i);

                                $('#search_result').append(
                                    '<div class="ajax_result"><p>' + data[i].organization.name + '</p><br><p>' + data[i].organization.description + '</p></div>'
                                )
                            }
                        }

                        if (data.offer) {
                            for (let i =0; i < data.offer.length; i++) {
                                console.log(i);

                                $('#search_result').append(
                                    '<div class="ajax_result"><p>' + data[i].offer.amount + '</p><br><p>' + data[i].offer.amount.date.date + '</p></div>'
                                )
                            }
                        }*/





                });

        });
    </script>
{% endblock %}